</main>

<footer class="border-top mt-1 mt-md-2 pt-md-2">
    <div class="d-flex flex-column flex-md-row justify-content-md-center">
        <ul class="list-group my-1 me-md-1 mt-md-0 rounded-0">
            <li class="list-group-item">Developed by</li>
            <li class="list-group-item text-center">Sebastian Lindberg Lindeskov</li>
        </ul>
        <ul class="list-group mb-1 me-md-1 rounded-0">
            <li class="list-group-item">Hosted at</li>
            <li class="list-group-item text-center">Github</li>
        </ul>
        <ul class="list-group mb-1 me-md-1 rounded-0">
            <li class="list-group-item">Made with</li>
            <li class="list-group-item text-center">Bootstrap</li>
        </ul>
        <ul class="list-group rounded-0">
            <li class="list-group-item">Images from</li>
            <li class="list-group-item text-center">Unsplash</li>
        </ul>
    </div>
</footer>
</div>

<script src="javascripts/bootstrap.min.js"></script>
<!-- <script src="javascripts/cardFactory.js" type="module"></script>
<script src="javascripts/app.js" type="module"></script> -->
</body>

</html>