</main>

<footer class="container-md">
    <div class="border-top mt-1 mt-md-3 pt-md-3 d-flex flex-column flex-md-row justify-content-center">
        <ul class="list-group m-1 rounded-0">
            <li class="list-group-item">Developed by</li>
            <li class="list-group-item text-center">Sebastian Lindberg Lindeskov</li>
        </ul>
        <ul class="list-group m-1 rounded-0">
            <li class="list-group-item">Hosted at</li>
            <li class="list-group-item text-center">Github</li>
        </ul>
        <ul class="list-group m-1 rounded-0">
            <li class="list-group-item">Made with</li>
            <li class="list-group-item text-center">Bootstrap</li>
        </ul>
        <ul class="list-group m-1 rounded-0">
            <li class="list-group-item">Images from</li>
            <li class="list-group-item text-center">Unsplash</li>
        </ul>
    </div>
</footer>

<script src="javascripts/bootstrap.min.js"></script>
</body>

</html>