<!-- Other tab content -->

<h1>For A Few Links More</h1>
<p>A collection of links to sites of a similar nature.</p>

<div id="otherContent">

    <% for (let card of otherData) {%>
        <div class="card mt-1">
            <div class="card-body">
                <h3 class="card-title text-center me-md-3 pe-md-3">
                    <%= card.title %>
                </h3>
                <% card.links.forEach(link=> { %>
                    <a href="<%= link.url %>" class="card-link text-center d-block d-md-inline">
                        <%= link.text %>
                    </a>
                    <% }); %>
            </div>
        </div>
        <% } %>

</div>