<h1>For A Few Links More</h1>
<p>A collection of links to sites of a similar nature.</p>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Udemy</h3>
        <a href="https://www.udemy.com/user/sebastian-lindberg-lindeskov/" class="card-link">Profile (for logged in
            users)</a>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <h3 class="card-title">Sololearn</h3>
        <a href="https://www.sololearn.com/profile/22830702" class="card-link">Profile</a>
        <a href="https://seblinl.github.io/sololearn/responsive_web/index.html" class="card-link">Responsive Web Project
            (<abbr title="Work In Progress">WIP</abbr>)</a>
    </div>
</div>

<div class="card mb-1">
    <div class="card-body">
        <h3 class="card-title">Github</h3>
        <a href="https://github.com/seblinl" class="card-link">Profile</a>
        <a href="https://github.com/seblinl/a-page-amidst-others" class="card-link">Portfolio Repo</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Codepen</h3>
        <a href="https://codepen.io/Tzungun" class="card-link">Profile</a>
    </div>
</div>