a {
  text-decoration: none;
}

#container {
  max-width: 900px;
}

.accordion-body .card {
  margin-top: 0.25rem;
}

@media (max-width: 767px) {
  footer > div {
    max-width: 450px;
    margin: 0 auto;
  }

  #otherContent .card-link + .card-link {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  #otherContent .card-body {
    display: flex;
    align-items: center;
  }
  .card-title {
    border-right: 1px solid grey;
  }
  #otherContent .card-link + .card-link::before {
    content: ":";
    margin-right: 1rem;
    color: grey;
  }
}
