<!-- BS -->
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBS">
            Bootstrap
        </button>
    </h2>
    <div id="collapseBS" class="accordion-collapse collapse" data-bs-parent="#udemyContent">
        <div class="accordion-body p-1">
            <p>Introduction to working with frameworks</p>

            <div class="projects">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Museum of Candy</h3>
                        <p class="card-text">Single page styling and layouting practice.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/bootstrap/museum_of_candy/index.html"
                            class="card-link">Candy
                            museum</a>
                    </div>
                </div>
            </div>

            <div class="tasks">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Practice with various Bootstrap functionalities.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/bootstrap/bootstrap_test.html"
                            class="card-link">Bootstrap 1</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Nav and form practice.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/bootstrap/bootstrap_test2.html"
                            class="card-link">Bootstrap 2</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- BS END -->