<!-- JS -->
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJS">
            JavaScript
        </button>
    </h2>
    <div id="collapseJS" class="accordion-collapse collapse" data-bs-parent="#udemyContent">
        <div class="accordion-body p-1" id="jsContent">
            <p>Making a website reactive and interactive</p>

            <!-- <div class="projects">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Score Keeper</h3>
                        <p class="card-text">Table tennis score keeping app. Styled with Bulma
                            framework.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/score_keeper/index.html"
                            class="card-link">Keep the
                            score</a>
                    </div>
                </div>
            </div>

            <div class="tasks">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Simple "guess the number" game.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/guessing_game/index.html"
                            class="card-link">Guess game</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"To-Do" list application.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/todo-list/index.html"
                            class="card-link">To-Do</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Random background colors.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/dom/random_color/index.html"
                            class="card-link">Random
                            colors</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Comment posting app.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/dom/form_events_ext/index.html"
                            class="card-link">Comment</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Boxes with nonsensical responses.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://seblinl.github.io/udemy/csteele_web/javascript/dom/color_boxes/index.html"
                            class="card-link">Boxes</a>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</div>
<!-- JS END -->